################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BlazorApp_Azure
/BlazorApp_Azure/bin
/BlazorApp_Azure/obj
